.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContent {
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 650px; 
    max-width: 95%;
}

.title {
    font-size: 1.6rem;
    text-align: left;
    margin-bottom: 20px;
    word-break: break-word;
}

.driverInfo {
    text-align: left; 
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.modalActions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.confirmButton, .cancelButton {
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 6px;
    cursor: pointer;
}

.confirmButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
}

    .confirmButton:hover {
        background-color: #ce2b2b;
    }

.cancelButton {
    background-color: #007bff;
    color: white;
    border: none;
}

    .cancelButton:hover {
        background-color: #2c6edc;
    }

.failMessage {
    color: red;
    margin-top: 10px;
    font-size: 1.2rem;
}

.deleteIcon {
    color: #dc3545;
    cursor: pointer;
    font-size: 24px;
}

    .deleteIcon:hover {
        color: #c82333;
    }

.disabledIcon {
    cursor: not-allowed;
    opacity: 0.5;
}

    .disabledIcon:hover {
        color: #dc3545;
    }