.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContainer {
    position: relative;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    height: 80vh;
    width: 45vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

    .modalContainer h3 {
        color: #4e4848;
        font-size: 1.8rem;
        margin-bottom: 15px;
    }


.formContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
    overflow-y: auto;
    padding-right: 10px;
}

.labelField {
    font-size: 1.2rem;
    margin-top: 5px;
    font-weight: bold;
    width: 100%;
    margin-bottom: 3px; 
}

.textareaField {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    min-height: 120px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: auto;
    flex-grow: 1;
    margin-bottom: 8px;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333 !important;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    color: white;
    transition: background-color 0.3s;
}

    .closeButton:hover {
        background-color: #555 !important;
    }

.addButton {
    padding: 12px;
    background-color: #007bff !important;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

    .addButton:hover {
        background-color: #2c6edc !important;
    }

.dateContainer {
    display: flex;
    align-items: center;
    width: 100%;
}

.dateLabel {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px; 
}

.dateInput {
    width: 100%;
    padding: 14px !important;
    font-size: 17px !important;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    height: 45px; 
}

.infoIcon {
    font-size: 48px;
    color: #666;
    cursor: help;
    margin-left: 10px;
    transition: font-size 0.2s ease;
    margin-top: 1px;
    line-height: 1; 
}

.selectField {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    margin-bottom: 8px; 
}

    .selectField:hover {
        cursor: pointer;
    }

.modalContainer {
    min-height: 400px;
    overflow: hidden;
}

.formContainer::-webkit-scrollbar {
    width: 8px;
}

.formContainer::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

    .formContainer::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


.errorText {
    font-size: 1.2rem;
    color: red;
    margin-top: 10px;
}