.vehicleDetails {
    width: min(60vw, 467px);
    max-width: 467px;
    min-width: 395px;
    background-color: #e0e0e0;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    left: 10px;
    right: 10px;
    height: calc(143vh - 70px - 25px);
    z-index: 1000;
    overflow: auto;
    display: flex;
    flex-direction: column;
    margin-top: 0;
}


    .vehicleDetails h3 {
        color: #333;
        font-size: 1.6rem;
        margin-bottom: 15px;
    }

    .vehicleDetails h4 {
        font-size: 1.2rem;
        margin-bottom: 12px;
        color: #444;
    }

    .vehicleDetails p {
        margin: 5px 0;
        padding: 2px;
        font-size: 1.2rem;
    }

    .vehicleDetails strong {
        color: #444;
    }

.tabs {
    display: flex;
    margin-bottom: 15px;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap; 
}

    .tabs button {
        flex: 1;
        background-color: #333;
        color: white;
        border: 1px solid #333;
        padding: 10px;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
        border-radius: 5px;
        white-space: nowrap; 
    }

    .tabs button svg {
            font-size: 21px;
            margin-bottom: 1px;
    }

        .tabs button:hover {
            background-color: #555;
            transform: scale(1.05);
        }

        .tabs button.activeTab {
            background-color: #007bff;
            color: white;
            border-color: #0056b3;
            font-weight: bold;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

            .tabs button.activeTab svg {
                fill: white;
            }


.closeButtonWrapper {
    position: absolute;
    top: 5px;
    right: 0.2rem;
}

    .closeButtonWrapper button {
        background: none !important;
        border: none;
        font-size: 1.16rem;
        cursor: pointer;
        padding: 0;
        width: auto;
        height: auto;
        line-height: 1;
        color: #333;
    }
    
    .closeButtonWrapper button:hover {
            color: #ff0000;
        }

.assignButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: background-color 0.2s;
}

    .assignButton:hover {
        background-color: #0056b3;
    }

.disabledButton {
    opacity: 0.5;
    cursor: not-allowed;
}

.deleteButton {
    background-color: #e03737;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 1.3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

    .deleteButton:hover {
        background-color: #b80f0f;
    }

.detailItem {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.detailsContent {
    overflow-y: auto;
    flex-grow: 1;
    max-height: unset;
}

.buttonsContainer {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.driverIcon {
    cursor: pointer;
    float: right;
    font-size: 22px;
    margin-top: 1px;
    margin-right: 8px;
    color: #007bff;
}

    .driverIcon:hover {
        color: #2c6edc;
    }

.topButtonsContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

    .topButtonsContainer button {
        flex: 1;
        white-space: nowrap;
        font-size: 1.3rem;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px;
    }

.driverActions {
    display: inline-flex;
    align-items: center;
    float: right;
    font-size: 21px;
    margin-right: 7px;
}

.disabledIcon {
    cursor: not-allowed;
    opacity: 0.5;
}

.detailsHeader {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
}

.mapIcon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}
