.chooseVehicleModalContainer {
    position: relative;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    max-height: 700px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

    .chooseVehicleModalContainer h3 {
        font-size: 1.8rem;
        margin-bottom: 15px;
        color: #4e4848;
    }

.vehicleList1 {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 600px;
    overflow-y: auto;
}

.tableWrapper {
    width: 100%;
    overflow-x: auto; 
}

.tableContainer {
    min-width: 100%;
}

.headerRow, .item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 12px 8px;
}

.headerRow {
    font-weight: bold;
    border-bottom: 2px solid #ddd;
    position: sticky;
    top: 0;
    background-color: #ece8e8;
    border-radius: 13px 13px 13px 13px;
    height: 55px;
    font-size: 1.5rem;
    z-index: 1;
}

.headerItem, .dataItem {
    flex: 1;
    text-align: center;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

    .headerItem:first-child, .dataItem:first-child {
        flex: 0 0 60px;
    }

    .headerItem:last-child, .dataItem:last-child {
        flex: 0 0 120px;
    }

.item {
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
    font-size: 1.25rem;
}

    .item:last-child {
        border-bottom: none;
    }

    .item:hover {
        background-color: #cec3c3;
    }

    .item button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        font-size: 1.25rem;
        transition: background-color 0.3s ease;
        flex-shrink: 0;
    }

        .item button:hover {
            background-color: #195fd4;
        }

.failMessage {
    color: red;
    margin-left: 0;
    font-size: 1.25rem;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #333 !important;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    color: white;
    transition: background-color 0.3s;
}

    .closeButton:hover {
        background-color: #555 !important;
    }
