.mapContainer {
    z-index: 1;
    width: 100%;
    height: 100%;
    min-height: 200px;
}

    .mapContainer [class*="leaflet-interactive"] {
        outline: none;
    }

.customTooltip {
    margin-left: 1px;
}
