.container {
    text-align: center;
    margin: 70px auto;
}

h1 {
    font-size: 2rem;
    color: #333 !important;
}


p {
    font-size: 1.2rem;
    color: #666;
    max-width: 600px;
    margin: 0 auto;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
    transition: 0.2s;
}
